name: Build & Test

permissions:
  contents: read

on:
  pull_request:
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"

  push:
    branches:
      - main
      - "release/*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - uses: actions/checkout@v4

      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.2.2
        if: env.GIT_DIFF

      - name: Run linter
        run: |
          make lint
        if: env.GIT_DIFF

      - name: Check for differences
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Linter made changes. Please run 'make lint' locally and commit the changes."
            git diff
            exit 1
          fi
        if: env.GIT_DIFF

  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - uses: actions/checkout@v4

      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum

      - name: build
        run: |
          make build
        if: env.GIT_DIFF

      - name: test
        run: |
          go test ./... -mod=readonly -timeout 12m
        if: env.GIT_DIFF
